.header {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin: 0 auto;
    background-color: #27282d;
    .main-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        li {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        a {
            text-decoration: none;
            padding: 10px 15px;
            text-transform: uppercase;
            text-align: center;
            display: block;
            color: #ccced3;
        }
    }
}
